{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content%}
<!-- Import user.css file for custom styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user.css') }}">
<!-- Display the page title -->
<h1 align="center">Admin</h1>

<!-- Loop through flagged recipes and display title and description for each recipe -->
<div>
    {% for recipe in flagged_recipes %}
    <tr>
        <h2><a href="{{ url_for('views.recipe', recipe_id=recipe.id)}}">{{ recipe.title }}</a></h2>
        <td>{{ recipe.description }}</td>
    </tr>
    {% endfor %}
</div>
<br>
<!-- Display a link to create a new recipe -->
<div>
    <a href="/createRecipe">Create Recipe</a>
</div>

{% endblock %}