{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content%}
<!-- Import user.css file for custom styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user.css') }}">
<!-- Display the page title -->
<div class="user-content" align="center">
    <h1 align="center">Admin</h1>

    <!-- Loop through flagged recipes and display title and description for each recipe -->
    <div class="admin-container">
        <div class="admin-recipes">
            <h2>Flagged Recipes for review:</h2>
            {% for recipe in flagged_recipes %}
            <tr>
                <h2><a href="{{ url_for('views.recipe', recipe_id=recipe.id)}}">{{ recipe.title }}</a></h2>
            </tr>
            {% endfor %}
        </div>
    <!-- Display a link to create a new recipe -->
        <div class="admin-create-recipe">
            <h2>Create a new Recipe:</h2>
            <a href="/createRecipe">Create Recipe</a>
        </div>
    </div>
</div>
{% endblock %}