{% extends "base.html" %}

{% block title %}Create Recipe{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createRecipe.css') }}">
<h1>Create Recipe</h1>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title }} <br>
    {{ form.servings.label }} {{ form.servings }} <br>
    {{ form.prep_time.label }} {{ form.prep_time }} <br>
    {{ form.cook_time.label }} {{ form.cook_time }} <br>
    {{ form.description.label }} {{ form.description }} <br><br>

    <div class="ingredients">
        {{ form.ingredients.label }} {{ form.ingredients }} <br><br>
    </div>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>

    <div class="instructions">
        {{ form.instructions.label }} {{ form.instructions }} <br><br>
    </div>
    <button type="button" onclick="addInstruction()">Add Instruction</button>

    <br><br>
    <input type="submit" value="Create Recipe">
</form>
<script type="text/javascript">
    function addIngredient() {
        var ingredientsDiv = document.querySelector(".ingredients");

        var ingredientWrapper = document.createElement("div");
        ingredientWrapper.classList.add("ingredient-wrapper");

        var ingredient = document.createElement("input");
        ingredient.type = "text";
        ingredient.name = "ingredients";
        ingredient.placeholder = "Ingredient";
        ingredient.required = true;

        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.innerHTML = "Remove";
        removeButton.onclick = function () {
            ingredientWrapper.remove();
        };

        ingredientWrapper.appendChild(ingredient);
        ingredientWrapper.appendChild(removeButton);

        ingredientsDiv.appendChild(ingredientWrapper);
    }

    function addInstruction() {
        var instructionsDiv = document.querySelector(".instructions");

        var instructionWrapper = document.createElement("div");
        instructionWrapper.classList.add("instruction-wrapper");

        var instruction = document.createElement("textarea");
        instruction.name = "instructions";
        instruction.placeholder = "Instruction";
        instruction.required = true;

        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.innerHTML = "Remove";
        removeButton.onclick = function () {
            instructionWrapper.remove();
        };

        instructionWrapper.appendChild(instruction);
        instructionWrapper.appendChild(removeButton);

        instructionsDiv.appendChild(instructionWrapper);
    }
</script>
{% endblock %}