{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <div>    
        <h1 align="center">Plate Pal</h1>
    </div>

    <div class="recipes">
        <h2>Featured Recipes</h2>
        {% for recipe in recipes %}
            <div class="recipe">
                <h2><a href="{{ url_for('views.recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
                <p>{{ recipe.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}