{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
<!-- Include the sign-up form styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign_up.css') }}">

<!-- Create the sign-up form -->
<form method="POST">
  <h3 align="center">Sign Up</h3>
  
  <!-- Add a field for the user's email address -->
  <div>
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
  </div>
  
  <!-- Add a field for the user's first name -->
  <div>
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" />
  </div>
  
  <!-- Add a field for the user's password -->
  <div>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
  </div>
  
  <!-- Add a field to confirm the user's password -->
  <div>
    <label for="password2">Password (Confirm)</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
  </div>
  
  <!-- Add a submit button for the user to submit their information -->
  <br />
  <button type="submit">Submit</button>
</form>
{% endblock %}
